<%- include('header'); -%>

    <div class="box" id="heading">
        <h1>
            <%=listTitle%>
        </h1>
    </div>

    <div class="box">
        <ul>

            <% for(let i=0;i< newitems.length;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%= newitems[i] %>
                    </p>
                </div>
                
                <% } %>

        </ul>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="item" value="<%= listTitle %>">+</button>
        </form>
    </div>


<%- include('footer'); -%>